<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>version</key>
	<integer>0</integer>
	<key>baseUrl</key>
	<dict>
		<key>prod</key>
		<string>http://www.ishuhui.net/ComicBooks/</string>
		<key>dev</key>
		<string>http://www.ishuhui.net/ComicBooks/</string>
	</dict>
	<key>getBook</key>
	<string>GetAllBook</string>
	<key>getChapter</key>
	<string>GetChapterList</string>
	<key>readBook</key>
	<string>ReadComicBooksToIsoV1</string>
</dict>
</plist>
